<form (ngSubmit)="signUp()" [formGroup]="signUpFormGroup">
  <input [(ngModel)]="user.name" formControlName="name" placeholder="First name" type="text">
  <input [(ngModel)]="user.surname" formControlName="surname" placeholder="Last name" type="text">
  <input [(ngModel)]="user.patronymic" [ngModelOptions]="{standalone: true}" placeholder="Third name" type="text">
  <input [(ngModel)]="user.email" formControlName="email" (focusout)="updateIsEmailTaken()" placeholder="Email" type="email">
  <input [(ngModel)]="user.password" formControlName="password" placeholder="Password" type="password">
  <input [(ngModel)]="user.birth" [ngModelOptions]="{standalone: true}" placeholder="Birth" type="date">
  <input [(ngModel)]="user.phone" formControlName="phone" placeholder="Phone" type="text">
  <input [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}" placeholder="Address" type="text">

  <button [disabled]="buttonDisableState" type="submit" (click)="signUp()">Sign up</button>
</form>
