<nav class="clearfix">
<!--  <a routerLink="home" routerLinkActive="active" class="left">Home</a>-->

  <a *ngIf="!authService.isAuth" routerLink="sign_in" routerLinkActive="active" class="right">Log In</a>
  <a *ngIf="!authService.isAuth" routerLink="sign_up" routerLinkActive="active" class="right">Sign Up</a>

  <button *ngIf="authService.isAuth" (click)="signOut()" class="right pointer">Log Out</button>
<!--  <a *ngIf="authService.isAuth" routerLink="personal" routerLinkActive="active" class="right">Personal</a>-->
</nav>

<router-outlet></router-outlet>
