<div [style]="{width: 6 * 230 - 30 + 'px'}">
  <div class="movies-row">
    <div *ngIf="pets.length > 0" class="movie-container">
      <app-pet-card [pet]="pets[0]"></app-pet-card>
    </div>
    <div *ngIf="pets.length > 1" class="movie-container">
      <app-pet-card [pet]="pets[1]"></app-pet-card>
    </div>
    <div *ngIf="pets.length > 2" class="movie-container">
      <app-pet-card [pet]="pets[2]"></app-pet-card>
    </div>
    <div *ngIf="pets.length > 3" class="movie-container">
      <app-pet-card [pet]="pets[3]"></app-pet-card>
    </div>
    <div *ngIf="pets.length > 4" class="movie-container">
      <app-pet-card [pet]="pets[4]"></app-pet-card>
    </div>
    <div class="movie-container">
      <app-pet-card-add></app-pet-card-add>
    </div>
  </div>
</div>
